#btn {
    display: inline;
    align-items: center;
}

.boxColumn {
    display: block;
    align-items: baseline;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    height: 300px;
  }

  .column {
    float: left;
    width: 20%;
    padding: 0 10px;
    height: 300px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row {margin: 0 -5px;}

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
