.column {
  float: left;
  width: 20%;
  padding: 0 10px;
  height: 300px;
}

.label {
  font-size: large;
}

.custom-column {
  border-radius: 1px;
  border-color: black;
  border-style: solid;
}

.custom-flex {
  display: flex;
  flex-basis: 50%;
}

.custom-button {
  width: 150px;
  margin-bottom: 5px;
}

.custom-input {
  width: 70vmax;
}

.custom-main {
  height: auto;
}
@media screen and (max-width: 785px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
