body {
 margin-bottom: 0;
 background-color: #4e4d4d;
 height: max-content;
}

.header {
  color: blueviolet;
}

.custom-container {
  display: flex;
  column-gap: 10px;
  background-color: #523580d0;
  margin-bottom: 200px;
  opacity: 0.9;
} 

.custom-section {
  padding: 0%;
}

.custom-card {
  bottom: 500px;
}

.custom-notif {
background-color:#00000000;

}

.custom-main {
  height: auto;
}

.custom-button {
  width: 150px;
  margin-bottom: 5px;
}

.column {
  float: left;
  width: 20%;
  padding: 0 10px;
  height: 300px;
}

.background-img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.custom-column {
  border-radius: 1px;
  border-color:white;
  border-style: solid;
  height: fit-content;
  margin: 15px;
  margin-bottom: auto;
  margin-top: auto;
}

.headerText {
  font-size: 20px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 700;
  text-decoration: underline;
}

.information {
  height: auto;
}

.youtube {
  height: 300px;
}

.imgBox {
  display: block;
}

.textInfo {
  color: white;
  font-weight: 200;
  font-family: sans-serif;
}

.label {
  font-size: large;
}

.foot {
  position: relative;
  width: 100%;
  margin-bottom: 0;
  bottom: 0;
}

.custom-return {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  background-color: white;
  border-color: white;
  color: black;

}




@media screen and (max-width: 785px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}